exportPattern("^[[:alpha:]]+")
import(nlme)
importFrom("graphics", "abline", "axis", "curve", "matplot", "plot",
             "text")
importFrom("stats", "AIC", "BIC", "anova", "coef", "contr.sum",
             "deviance", "df.residual", "fitted", "lm", "median",
             "na.omit", "nls", "nls.control", "poly", "resid", "sd",
             "shapiro.test", "var")
importFrom("utils", "combn")
importFrom("graphics", "arrows")
importFrom("stats", "dnorm", "na.exclude", "pf", "pt","drop1")
importFrom("stats", "model.matrix", "qt", "vcov")

